[Unit]
Description=Container 'cloudflared' service
RequiresMountsFor=%t/containers

[Container]
# ================================
# * Basic settings
# ================================
ContainerName=cloudflared
Image=ghcr.io/hanyu-dev/oci-image-cloudflared:latest
AutoUpdate=registry

# ================================
# * Security settings
# ================================
NoNewPrivileges=true
DropCapability=ALL
AddCapability=CAP_NET_BIND_SERVICE

# ================================
# * Network settings
# ================================
# Network=container-br0.network
# For UNIX domain sockets communication
# Volume=cloudflared.volume:/opt/cloudflared/shared-volume

# ================================
# * Application settings
# ================================
Environment=TUNNEL_TOKEN=
Exec=tunnel run

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=default.target
